<div class="fragments">
    <!-- Flipper box card -->
    <div class="card">
        <div class="front"><img src=""></div>
        <div class="back"><img src=""></div>
        <div class="sideleft"></div>
        <div class="sideright"></div>
        <div class="sidebottom"></div>
    </div>

    <!-- Something else -->
    <div class="somethingelse">

    </div>
</div>