@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic);

html, body {
  height: 100%;
  transform-style: preserve-3d;
  transform: translate3d(0, 0, 0);
}

body {
  background: #000; //#051d1d;
}

.preloader {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #071717;
  border-radius: 100%;
  margin: 0px;
  padding: 0px;
  height: 50px;
  width: 50px;
  //transform: translate3d(0, 0, 0);
  display:none;
}

.container {
  position: absolute;
  overflow: hidden;
  font-size: 0;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  //transform: translate3d(0, 0, 0);
  background-color: $bgColor;
  display:none;
}

.sections {
  position: absolute;
  overflow: hidden;
  font-size: 0;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  //transform: translate3d(0, 0, 0);
}

.container-mask {
  pointer-events: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  //background: url('../images/frontshade.png') no-repeat;
  //background-size: cover;
  background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(6, 23, 23, 1) 100%);
  background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(6, 23, 23, 1) 100%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(6, 23, 23, 1) 100%);
  z-index: 2;
  transform: translate3d(0, 0, 0);
}

.footer-mask {
  pointer-events: none;
  position: absolute;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(6, 23, 23, 1) 100%);
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(6, 23, 23, 1) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(6, 23, 23, 1) 100%);
  width: 100%;
  height: 30%;
  bottom: 0;
  left: 0;
  z-index: 2;
  //transform: translate3d(0, 0, 0);
}

.cards-container {
  position: absolute;
  top: 50%;
  left: 50%;
  //transform: translate3d(0, 0, 0);
}

.card {
  display: inline-block;
  position: relative;
  padding: 0;
  margin: 10px;
  font-size: 0;
  width: $cardWidth;
  height: $cardHeight;
  z-index: 5;
  transform: translate3d(0, 0, 0);
}

.card img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate3d(0, 0, 0);
}

.card .front {
  position: absolute;
  width: $cardWidth;
  height: $cardHeight;
  z-index: 4;
  top: 0;
  left: 0;
  //overflow: hidden;
  background-color: $bgColor;
  background-size: cover;
  transform: translate3d(0, 0, 0);
}

.card .back {
  position: absolute;
  width: $cardWidth;
  height: $cardHeight;
  z-index: 4;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: $bgDarkColor;
  background-size: cover;
  transform: translate3d(0, 0, 0);
}

.card .sidebottom {
  position: absolute;
  width: $cardWidth;
  height: $cardHeight;
  z-index: 3;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: $bgDarkColor;
  background-size: cover;
  transform: translate3d(0, 0, 0);
}

.card .sideleft {
  position: absolute;
  width: $cardHeight;
  height: $cardHeight;
  z-index: 3;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: $bgDarkDarkColor;
  background-size: cover;
  transform: translate3d(0, 0, 0);
}

.card .sideright {
  position: absolute;
  width: $cardHeight;
  height: $cardHeight;
  z-index: 3;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: $bgDarkDarkColor;
  background-size: cover;
  transform: translate3d(0, 0, 0);
}

// VISUAL ELEMENTS
header {
  position:absolute;
  z-index: 1001;
  width: 100%;
  text-align:right;
}
.home-suptitle {
  position: absolute;
  font-family: $mainFace;
  font-size: 26px;
  color: #14ddff;
  z-index: 1000;
  font-kerning: normal;
  text-transform: uppercase;
  left: 50%;
  top: 60px;
  line-height: 36px;
  width: 600px;
  text-align:center;
  opacity: 0;
  display:none;
}
.home-logo {
  width: 600px;
  left:50%;
  top: 130px;
  position:absolute;
  z-index:1001;
  opacity: 0;
  display:none;
  cursor: pointer;
}

.home-logo .st0 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #FFFFFF;
}

.home-coming {
  position:absolute;
  left: 50%;
  top: 190px;
  width: 250px;
  margin-left: -125px;
  transform-style: preserve-3d;
  display:none;
}
.home-coming p {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #021B1F;
  font-size: 20px;
  font-weight: normal;
  letter-spacing: 5px;
  /* padding: 20px; */
  background-color: #14ddff;
  text-align: center;
}
.description {
  position:absolute;
  z-index: 1001;
  top: 70%;
  left: 50%;
  width: 720px;
  font-family: $helvetica;
  font-size: 14px;
  color: #FFF;
  text-align:center;
}
.home-description {
  position:absolute;
  width: inherit;
  display:none;
}
.learn-more-bttn {
  position:absolute;
  top: 45px;
  text-transform: uppercase;
  font-family: $mainFace;
  font-size: 14px;
  margin-left: 5px;
  display:none;

}
.upload-video-bttn {
  position:absolute;
  perspective: 500px;
  width: 200px;
  height: 50px;
  line-height: 50px;
  cursor: pointer;
  margin-top: 20px;
  top: 70px;
  display:none;
}

.login-bttn {
  position:absolute;
  top:20px;
  right:20px;
  z-index:1002;
  perspective: 500px;
  width: 100px;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
  display:none;
}
.inner {
  width: 100%;
  height: 100%;
  text-align: center;
  margin: 0 auto;
}
.inner p {
  font-family: $mainFace;
  color: #FFF;
  font-size: 14px;
  width: 100%;
  height: 100%;
  text-align:center;
}

.inner p.large {
  font-size: 18px;
}

.btn-front,.btn-back {
  position:absolute;
  background: rgb(247, 247, 247);
  border-radius: 3px;
  height: 100%;
  width: 100%;
}

.btn-front {
  background-color: rgba(0,0,0,1);
  border: 2px solid #14ddff;
}

.btn-back {
  border: 2px solid #14ddff;
  background-color: #14ddff;
}
.btn-back p {
  color: #000000 !important;
}
section.intro {
  position:absolute;
  width: 100%;
  height: 100%;
  overflow:hidden;
  transform: translate3d(0, 0, 0);
}
.content-container {
  position:absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  //background-color: #061717;
  z-index: 2000;
  display:none;
  pointer-events: none;
}
.content-holder {
  position:absolute;
  width: 100%;
  height: 100%;
  text-align:center;
}
.registration-container {
  position:absolute;
  width: 100%;
  top:280px;
  border-top: 2px solid #FFF;
  color: #FFF;
  //background-color: #061717;
  background-color: rgba(6, 17, 17, 0.9);
  pointer-events: auto;
}
.inner-content {
  width: 400px;
  margin: 0 auto;
  margin-top:30px;
  padding-bottom:20px;
}

.leftside {
  float:left;
  width: 48%;
}

#video-description {
  margin-bottom: 50px;
}
.rightside {
  float:right;
  width: 48%;
}

.register-title {
  font-size: 20px;
  font-family: $mainFace;
  text-transform: uppercase;
  color: rgb(20, 221, 255);
}
.register-desc {
  font-size: 13px;
  line-height: 15px;
  font-family: $subtitleFace;
  color: #FFF;
  margin-bottom: 20px;
}
#createaccount {
  width: 100%;
  text-align:center;
}
.signup {
  position:absolute;
  top: 40px;
  //background-color: #FF0000;
}
.upload {
  position:absolute;
  top: 40px;
  left: 100%;
  display:none;
  //background-color: #FF0000;
}

.upload .inner-content {
  width: 980px;
  padding-bottom: 100px;
}

.share {
  position:absolute;
  top: 40px;
  left: 100%;
  display:none;
  //background-color: #FF0000;
}

.share .inner-content {
  width: 980px;
  padding-bottom: 100px;
}


.how-it-works {
  width: 100%;
  display:block;
  text-align:left;
  font-family: $mainFace;
  margin-bottom: 15px;
}

.how-it-works h1 {
  font-size: 20px;
  color: rgb(20, 221, 255);
  display:block;
}
.how-it-works p {
  font-size: 13px;
  color: #FFF;
  font-family: $mainFace;
  margin-top: 10px;
  display:block;
}
.video-req {
  width: 100%;
  display:block;
  text-align:left;
  font-family: $mainFace;
}
.video-req h1 {
  font-size: 20px;
  color: rgb(20, 221, 255);
  display:block;
}
.video-req p {
  font-size: 13px;
  color: #FFF;
  font-family: $mainFace;
  margin-top: 10px;
  display:block;
}
.steps {
  text-align:center;
  margin-top: -20px;
}

.step-circle {
  position:relative;
  font-family: $mainFace;
  display: inline-block;
  text-align:center;
  margin: 0px 30px 0px 30px;
  opacity: 0;
}
.step-number {
  position:relative;
  display:inline-block;
  font-family: $mainFace;
  font-size: 16px;
  line-height: 30px;
  color: #FFF;
  width: 30px;
  height: 30px;
  text-align:center;
  border: 2px solid #FFF;
  border-radius: 50%;
  background-color: rgb(5, 23, 23);
}
.step-label {
  display:inline-block;
  font-family: $mainFace;
  font-size: 12px;
  text-align:center;
  margin-top: 10px;
}
.step-active {
  background-color: rgb(13, 49, 50);
  border-color: rgb(20, 221, 255);
}

.create-bttn {
  perspective: 1400px;
  width: inherit;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  display:none;
  margin-left:10px;
  margin-top: 20px;
}

.uploadsubmit-btn {
  perspective: 1400px;
  width: 100%;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  margin-top: 10px;
  margin-left:10px;
  display:inline-block;
}
.browse-bttn {
  perspective: 1400px;
  width: 150px;
  height: 30px;
  line-height: 25px;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 10px;
  font-size: 13px;
  display:inline-block;
}

.viewvideos-bttn {
  perspective: 1400px;
  width: 200px;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 10px;
  font-size: 13px;
  display:inline-block;
  margin-right: 20px;
}

.uploadnewvideo-bttn {
  perspective: 1400px;
  width: 200px;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 10px;
  font-size: 13px;
  display:inline-block;
}
.buttonactions {
  display:block;
  width: 720px;
  text-align:center;
  margin: 0 auto;
  margin-top: 20px;
}

.upload-target {
  width: 100%;
  height: 160px;
  display:block;
  border: 1px dashed rgb(20, 221, 255);
  padding: 10px;
  margin-bottom: 20px;
  padding-top: 32px;
  background-color: rgba(0,0,0,0.4);
  position:relative;
}

.upload-target p {
  font-size: 14px;
  color: #FFF;
  display:inline-block;
  width: 100%;
  text-align:center;
  font-family: $mainFace;
}

.upload-target span {
  font-family: $mainFace;
  font-size: 11px;
  color: #848484;
  display:inline-block;
  width: 100%;
  text-align:center;
}
.upload-preview {
  position:relative;
  width: 400px;
  height: 200px;
  display:block;
  border: 1px solid rgb(20, 221, 255);
  padding: 10px;
  background-color: rgba(0,0,0,1);
  margin: 0 auto;
  margin-top: 20px;
  background-image: url('../images/uploadpreview.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.upload-preview i {
  font-size: 32px;
  line-height: 32px;
  color: rgb(20, 221, 255);
  position:absolute;
  left: 50%;
  top:130px;
  margin-left: -15px;
  margin-top: -15px;
  z-index: 2;
}
.dimm {
  width: 100%;
  height: 100%;
  position:absolute;
  background-color: rgba(0,0,0,0.7);
  top: 0;
  left: 0;
}
.socialshare {
  margin-top: 20px;
  font-size: 20px;
  color: #FFF;
}
.socialshare ul a {
  color: #FFF;
  text-decoration: none;
}
.socialshare ul a:hover {
  color: #14ddff;
  text-decoration: none;
}
.socialshare ul li {
  font-family: $mainFace;
  display:inline-block;
  font-size: 24px;
  margin: 0px 10px 0px 10px;
  text-transform: uppercase;
}

.successmsg {
  width: 720px;
  font-size: 14px;
  color: #FFF;
  font-family: $mainFace;
  margin: 0 auto;
  margin-top: 10px;
}

.login-footer {
  width: 100%;
  text-align:center;
  margin-top: 20px;
}
.login-footer p, .login-footer a {
  font-size: 12px;
  color: #b7b7b7;
  font-family: $mainFace;
}
.login-footer a {
  text-decoration: none;
  color: #FFF;
}
.login-footer a:hover {
  text-decoration: none;
  color: rgb(20, 221, 255);
}


input#fTermsCheck {
  display:inline-block;
  width: auto;
  text-align:left;
}
.termscheck {
  text-align:left;
  margin-top:8px;
}
.termscheck label {
  display:inline-block;
  font-size: 12px;
  color: #FFF;
}
label {
  color: #FFF;
  font-size: 12px;
  display:block;
  font-family: $mainFace;
  margin-left: 10px;
  margin-bottom: 5px;
  text-align:left;
  width: auto;
}

input {
  border: 2px solid rgb(20, 221, 255);
  background-color:rgb(3, 31, 31);
  border-radius: 6px;
  padding: 10px;
  font-size: 16px;
  color: #FFF;
  margin-bottom: 10px;
  width: 100%;
  outline: none;
}

textarea {
  border: 2px solid rgb(20, 221, 255);
  background-color:rgb(3, 31, 31);
  border-radius: 6px;
  padding: 10px;
  font-size: 16px;
  color: #FFF;
  margin-bottom: 10px;
  width: 100%;
  outline: none;
}

input:focus {
  border: 2px solid #FFF;
  background-color: rgb(3, 24, 24);
}

footer {
  position:absolute;
  bottom: 0;
  height: 30px;
  width: 100%;
  //background-color: #061717; //#061717;
  padding-bottom: 10px;
  z-index: 2001;
  display:none;
}
footer ul {
  position:relative;
  display:inline-block;
  color: #FFF;
  font-size: 0px;
  height: 30px;
  line-height: 30px;
}
footer ul a {
  color: #FFF;
  text-decoration: none;
}
footer ul a:hover {
  color: #14ddff;
  text-decoration: none;
}
footer ul li {
  font-family: $mainFace;
  display:inline-block;
  font-size: 11px;
  margin: 0px 10px 0px 10px;
  text-transform: uppercase;
}
footer ul.legal {
  float:left;
  margin-left: 20px;
}
footer ul.social {
  float:right;
  margin-right: 20px;
}
footer ul.social li {
  text-align:center;
  font-size: 16px;
}
.ps-scrollbar-y-rail {
  right: 10px !important;
}
.ps-container.ps-active-y > .ps-scrollbar-y-rail {
  background-color: rgba(255,255,255,0.1);
}

/* to make scrollbars always visible */
.always-visible.ps-container > .ps-scrollbar-x-rail,
.always-visible.ps-container > .ps-scrollbar-y-rail {
  opacity: 0.1;
}

.submitnotice {
  font-size: 16px;
  color: #FFF;
  margin-top: 5px;
  font-family: $mainFace;
}