$cardWidth: 380px;
$cardHeight: 200px;
$cardDefaultBackground: #000;
$bgColor: #061717;
$bgDarkColor: #040f0f;
$bgDarkDarkColor: #051212;
$bgBlack: #000000;
$mainFace: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$subtitleFace: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$helvetica: 'Helvetica Neue', Helvetica, Arial, sans-serif;